node_modules/
.env
**/.env
**/.env.*
!.env.example
!**/.env.example
*.txt
out.txt
*service-account*.json
firebase*.json

.env.local
.env.development
.env.test
.env.production
dist/
build/
.DS_Store
*.pem
*.key
backend/main.exe
Backend/main.exe
.idea/
.vscode/
tmp/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
